.btn {
  border-width: 2px;
}
body {
  font-family: IBM Plex Mono;
}
.display-1 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 3.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.75rem;
}
.display-4 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.7rem;
  line-height: 1.2;
}
.display-5 > .mbr-iconfont {
  font-size: 2.125rem;
}
.display-7 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.36rem;
    font-size: calc( 1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 1.8rem;
  border-radius: 5px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #13e5c0 !important;
}
.bg-success {
  background-color: #c6ffe0 !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ffb18a !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #13e5c0 !important;
  border-color: #13e5c0 !important;
  color: #19303d !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0c957d !important;
  border-color: #0c957d !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #19303d !important;
  background-color: #0c957d !important;
  border-color: #0c957d !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  background-color: #19303d !important;
  border-color: #19303d !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #19303d !important;
  border-color: #19303d !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  background-color: #19303d !important;
  border-color: #19303d !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  background-color: #19303d !important;
  border-color: #19303d !important;
}
.btn-success,
.btn-success:active {
  background-color: #c6ffe0 !important;
  border-color: #c6ffe0 !important;
  color: #19303d !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #6fffb1 !important;
  border-color: #6fffb1 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #19303d !important;
  background-color: #6fffb1 !important;
  border-color: #6fffb1 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  background-color: #19303d !important;
  border-color: #19303d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #19303d !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #19303d !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  background-color: #19303d !important;
  border-color: #19303d !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffb18a !important;
  border-color: #ffb18a !important;
  color: #19303d !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff7733 !important;
  border-color: #ff7733 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #19303d !important;
  background-color: #ff7733 !important;
  border-color: #ff7733 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  background-color: #19303d !important;
  border-color: #19303d !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #19303d !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #ffffff !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #19303d !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  background-color: #19303d !important;
  border-color: #19303d !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  background-color: #19303d !important;
  border-color: #19303d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border: 2px dashed #13e5c0;
  color: #13e5c0;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background-color: #13e5c0 !important;
  border-color: #13e5c0 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #13e5c0 !important;
  border-color: #13e5c0 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border: 2px dashed #19303d;
  color: #19303d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background-color: #19303d !important;
  border-color: #19303d !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #19303d !important;
  border-color: #19303d !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border: 2px dashed #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border: 2px dashed #c6ffe0;
  color: #c6ffe0;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #00c65a !important;
  background-color: #c6ffe0 !important;
  border-color: #c6ffe0 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #00c65a !important;
  background-color: #c6ffe0 !important;
  border-color: #c6ffe0 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border: 2px dashed #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border: 2px dashed #ffb18a;
  color: #ffb18a;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff !important;
  background-color: #ffb18a !important;
  border-color: #ffb18a !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ffb18a !important;
  border-color: #ffb18a !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border: 2px dashed #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border: 2px dashed #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #13e5c0 !important;
}
.text-secondary {
  color: #19303d !important;
}
.text-success {
  color: #c6ffe0 !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ffb18a !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #0b8771 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #60ffa9 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff6d24 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #13e5c0;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ffb18a;
}
.mbr-gallery-filter li.active .btn {
  background-color: #13e5c0;
  border-color: #13e5c0;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #13e5c0;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c9fbf2;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #13e5c0 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #13e5c0;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #13e5c0;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #13e5c0;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #13e5c0;
  border-bottom-color: #13e5c0;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #13e5c0 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #19303d !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2313e5c0' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tlVfrwbwzd {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tlVfrwbwzd nav.navbar {
  position: fixed;
}
.cid-tlVfrwbwzd .nav-link {
  font-weight: 600;
  position: relative;
}
.cid-tlVfrwbwzd .nav-link:hover {
  color: #13e5c0 !important;
}
.cid-tlVfrwbwzd .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  padding-right: 2rem !important;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tlVfrwbwzd .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tlVfrwbwzd .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tlVfrwbwzd .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tlVfrwbwzd .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tlVfrwbwzd .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tlVfrwbwzd .dropdown-item:hover,
.cid-tlVfrwbwzd .dropdown-item:focus {
  background: #13e5c0 !important;
  color: white !important;
}
.cid-tlVfrwbwzd .dropdown-item:hover span {
  color: white;
}
.cid-tlVfrwbwzd .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tlVfrwbwzd .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tlVfrwbwzd .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tlVfrwbwzd .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tlVfrwbwzd .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tlVfrwbwzd .container {
    flex-wrap: nowrap;
  }
}
.cid-tlVfrwbwzd .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tlVfrwbwzd .dropdown-menu,
.cid-tlVfrwbwzd .navbar.opened {
  background: #c6ffe0 !important;
}
.cid-tlVfrwbwzd .nav-item:focus,
.cid-tlVfrwbwzd .nav-link:focus {
  outline: none;
}
.cid-tlVfrwbwzd .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tlVfrwbwzd .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tlVfrwbwzd .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tlVfrwbwzd .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tlVfrwbwzd .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tlVfrwbwzd .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tlVfrwbwzd .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #c6ffe0;
}
.cid-tlVfrwbwzd .navbar.opened {
  transition: all 0.3s;
}
.cid-tlVfrwbwzd .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tlVfrwbwzd .navbar .navbar-logo img {
  width: auto;
}
.cid-tlVfrwbwzd .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-tlVfrwbwzd .navbar.collapsed {
  justify-content: center;
}
.cid-tlVfrwbwzd .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tlVfrwbwzd .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tlVfrwbwzd .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tlVfrwbwzd .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tlVfrwbwzd .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tlVfrwbwzd .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tlVfrwbwzd .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tlVfrwbwzd .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tlVfrwbwzd .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tlVfrwbwzd .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tlVfrwbwzd .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tlVfrwbwzd .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tlVfrwbwzd .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tlVfrwbwzd .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tlVfrwbwzd .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tlVfrwbwzd .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tlVfrwbwzd .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tlVfrwbwzd .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tlVfrwbwzd .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tlVfrwbwzd .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tlVfrwbwzd .navbar.navbar-short {
  min-height: 60px;
}
.cid-tlVfrwbwzd .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tlVfrwbwzd .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tlVfrwbwzd .dropdown-item.active,
.cid-tlVfrwbwzd .dropdown-item:active {
  background-color: transparent;
}
.cid-tlVfrwbwzd .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tlVfrwbwzd .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tlVfrwbwzd .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tlVfrwbwzd .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #c6ffe0;
}
.cid-tlVfrwbwzd .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tlVfrwbwzd .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tlVfrwbwzd ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tlVfrwbwzd .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tlVfrwbwzd button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tlVfrwbwzd button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tlVfrwbwzd button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tlVfrwbwzd button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tlVfrwbwzd button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tlVfrwbwzd button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tlVfrwbwzd nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tlVfrwbwzd nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tlVfrwbwzd nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tlVfrwbwzd nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tlVfrwbwzd .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tlVfrwbwzd a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tlVfrwbwzd .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tlVfrwbwzd .navbar {
    height: 70px;
  }
  .cid-tlVfrwbwzd .navbar.opened {
    height: auto;
  }
  .cid-tlVfrwbwzd .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tlVfs8bofq {
  padding-top: 7rem;
  padding-bottom: 8rem;
  background-color: #c6ffe0;
}
.cid-tlVfs8bofq .mbr-fallback-image.disabled {
  display: none;
}
.cid-tlVfs8bofq h1 a {
  width: fit-content;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.cid-tlVfs8bofq h1 a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 22px;
  background: #13e5c0;
  z-index: -1;
}
.cid-tlVfs8bofq h1 a:hover {
  color: inherit !important;
}
.cid-tlVfs8bofq .subtitle-wrap {
  background: white;
  width: fit-content;
  border: 2px dashed currentColor;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  margin-bottom: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.cid-tlVfs8bofq .subtitle-wrap span {
  margin: 0 1rem;
}
.cid-tlVfs8bofq .subtitle-wrap .mbr-iconfont {
  font-size: 1.5rem;
}
.cid-tlVfs8bofq .arrow {
  background: #13e5c0;
  border-radius: 50%;
  padding: 5px;
  color: white;
  font-size: 1rem !important;
  border: 1px dashed black;
}
.cid-tlVfs8bofq img {
  border-radius: 1rem;
}
.cid-tlVfs8bofq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tlVfs8bofq .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tlVfs8bofq .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tlVfs8bofq .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tlVfs8bofq .mbr-section-title {
  color: #19303d;
}
.cid-tlVfs8bofq .mbr-text,
.cid-tlVfs8bofq .mbr-section-btn {
  color: #19303d;
}
.cid-tlVfs8bofq .mbr-section-subtitle,
.cid-tlVfs8bofq .subtitle-wrap,
.cid-tlVfs8bofq .subtitle-align-wrap {
  color: #19303d;
}
.cid-tlVYX2lz1A {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tlVYX2lz1A .mbr-fallback-image.disabled {
  display: none;
}
.cid-tlVYX2lz1A .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tlVYX2lz1A .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #13e5c0;
  margin-bottom: 2rem;
}
.cid-tlVYX2lz1A .card-wrapper {
  margin-top: 3rem;
}
.cid-tlVYX2lz1A .row {
  justify-content: center;
}
.cid-tlVYX2lz1A .mbr-section-title {
  color: #19303d;
}
.cid-tlVYX2lz1A .mbr-section-subtitle {
  color: #19303d;
}
.cid-tlVYoWlm5Q {
  padding-top: 8rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tlVYoWlm5Q .mbr-fallback-image.disabled {
  display: none;
}
.cid-tlVYoWlm5Q a {
  font-weight: bold;
}
.cid-tlVYoWlm5Q .mbr-iconfont {
  font-size: 1.6rem;
  color: #13e5c0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #19303d;
  margin-right: 1rem;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tlVYoWlm5Q .mbr-iconfont:hover {
  background: #13e5c0;
  color: #19303d;
}
@media (max-width: 767px) {
  .cid-tlVYoWlm5Q .mbr-iconfont {
    margin: 0 0.3rem;
  }
}
.cid-tlVYoWlm5Q .link-wrapper {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .cid-tlVYoWlm5Q .link-wrapper {
    align-items: center;
  }
}
.cid-tlVYoWlm5Q .link {
  display: flex;
}
.cid-tlVYoWlm5Q .mbr-linkiconfont {
  font-size: 0.8rem;
  color: #19303d;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #19303d;
  margin-right: 1rem;
  border-radius: 50%;
  background: #c6ffe0;
  transition: all 0.3s;
}
.cid-tlVYoWlm5Q .mbr-section-subtitle {
  width: fit-content;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.cid-tlVYoWlm5Q .mbr-section-subtitle:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 9px;
  background: #d4ceff;
  z-index: -1;
}
.cid-tlVYoWlm5Q .text-wrapper {
  max-width: 650px;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tlVYoWlm5Q .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tlVYoWlm5Q img {
  border-radius: 1rem;
}
.cid-tlVYoWlm5Q .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tlVYoWlm5Q .row {
  flex-direction: row-reverse;
}
.cid-tlVYoWlm5Q .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tlVYoWlm5Q .image-wrapper {
    padding: 1rem;
  }
}
.cid-tlVYoWlm5Q .mbr-link {
  color: #132835;
}
.cid-tlVYoWlm5Q .mbr-text,
.cid-tlVYoWlm5Q .mbr-section-btn {
  color: #19303d;
}
.cid-tlVYmXxmF5 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tlVYmXxmF5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tlVYmXxmF5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tlVYmXxmF5 .card-box {
  max-width: 700px;
}
.cid-tlVYmXxmF5 .mbr-iconfont {
  display: block;
  font-size: 10rem;
  color: #13e5c0;
  padding: 0rem 8rem;
  margin-right: 2rem;
}
@media (max-width: 992px) {
  .cid-tlVYmXxmF5 .mbr-iconfont {
    padding: 2rem 2rem;
    font-size: 6rem;
  }
}
@media (max-width: 767px) {
  .cid-tlVYmXxmF5 .mbr-iconfont {
    margin-right: 0rem;
  }
}
.cid-tlVYmXxmF5 .card-wrapper {
  min-height: 230px;
  transition: all 0.3s;
  border-radius: 5px;
  padding: 3rem 2rem;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  border: 2px dashed currentColor;
}
@media (max-width: 767px) {
  .cid-tlVYmXxmF5 .card-wrapper {
    flex-direction: column;
    padding: 1rem 1rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1600px) {
  .cid-tlVYmXxmF5 .card-wrapper {
    padding: 3rem 10rem;
  }
}
.cid-tlVYmXxmF5 .row {
  justify-content: center;
}
.cid-tlVYmXxmF5 .mbr-section-title {
  color: #132835;
}
.cid-tlVYmXxmF5 .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-tlVYmXxmF5 .card-title,
.cid-tlVYmXxmF5 .iconfont-wrapper {
  color: #e43f3f;
}
.cid-tlVYmXxmF5 .card-title,
.cid-tlVYmXxmF5 .iconfont-wrapper,
.cid-tlVYmXxmF5 .card-wrapper {
  color: #19303d;
}
.cid-tlVYmXxmF5 .card-text {
  color: #353535;
}
.cid-tlVYyystHs {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tlVYyystHs .mbr-fallback-image.disabled {
  display: none;
}
.cid-tlVYyystHs h1 a {
  width: fit-content;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.cid-tlVYyystHs h1 a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 22px;
  background: #13e5c0;
  z-index: -1;
}
.cid-tlVYyystHs h1 a:hover {
  color: inherit !important;
}
.cid-tlVYyystHs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tlVYyystHs .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tlVYyystHs .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tlVYyystHs .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tlVYyystHs .mbr-section-title {
  color: #19303d;
  text-align: center;
}
.cid-tlVYyystHs .mbr-section-subtitle,
.cid-tlVYyystHs .subtitle-wrap {
  color: #19303d;
}
.cid-tlVYyystHs .mbr-text,
.cid-tlVYyystHs .mbr-section-btn {
  color: #19303d;
  text-align: center;
}
.cid-tlVYUtaSS3 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tlVYUtaSS3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tlVYUtaSS3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tlVYUtaSS3 .row-h {
  height: 100% !important;
  padding-bottom: 2rem;
}
.cid-tlVYUtaSS3 .link-wrapper {
  width: 100%;
}
.cid-tlVYUtaSS3 .mbr-linkiconfont {
  color: currentColor;
  padding-left: 10px;
  padding-top: 4px;
  transition: all 0.3s;
}
.cid-tlVYUtaSS3 .link {
  display: inline-flex;
  align-items: center;
  width: fit-content;
}
.cid-tlVYUtaSS3 .link:hover .mbr-linkiconfont {
  transform: translateX(5px);
}
.cid-tlVYUtaSS3 .mbr-iconfont {
  font-size: 1rem;
  color: white;
  border-radius: 50%;
  background: #19303d;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.cid-tlVYUtaSS3 .card-big {
  background: #19303d;
  height: 100%;
  border-radius: 6px;
  padding: 2rem 2rem;
}
@media (max-width: 767px) {
  .cid-tlVYUtaSS3 .card-big {
    padding: 2rem 1rem;
  }
}
.cid-tlVYUtaSS3 .card-wrapper {
  transition: all 0.3s;
  border-radius: 6px;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  border: 2px dashed currentColor;
}
@media (max-width: 767px) {
  .cid-tlVYUtaSS3 .card-wrapper {
    flex-direction: column;
    padding: 1rem 1rem;
    padding-bottom: 2rem;
  }
}
.cid-tlVYUtaSS3 .card-wrapper:hover .mbr-iconfont {
  background: #13e5c0;
  transform: translateX(10px);
}
.cid-tlVYUtaSS3 .row {
  justify-content: center;
}
.cid-tlVYUtaSS3 .cardbig-link,
.cid-tlVYUtaSS3 .mbr-linkiconfont {
  color: #ffffff;
}
.cid-tlVYUtaSS3 .cardbig-text,
.cid-tlVYUtaSS3 .link-wrapper {
  color: #ffffff;
}
.cid-tlVYUtaSS3 .card-title,
.cid-tlVYUtaSS3 .iconfont-wrapper,
.cid-tlVYUtaSS3 .card-wrapper {
  color: #132835;
}
.cid-tlVYUtaSS3 .card-text,
.cid-tlVYUtaSS3 .mbr-section-btn {
  color: #353535;
}
.cid-tlVYUtaSS3 .cardbig-title {
  color: #ffffff;
}
.cid-tlW10G27JW {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #19303d;
}
.cid-tlW10G27JW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tlW10G27JW .mbr-section-subtitle {
  width: fit-content;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.cid-tlW10G27JW .mbr-section-subtitle:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 12px;
  background: #c6ffe0;
  z-index: -1;
}
.cid-tlW10G27JW img {
  border-radius: 1rem;
}
.cid-tlW10G27JW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tlW10G27JW .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tlW10G27JW .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tlW10G27JW .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tlW10G27JW .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-tlW10G27JW .mbr-section-subtitle,
.cid-tlW10G27JW .subtitle-wrap {
  color: #19303d;
  text-align: center;
}
.cid-tlW10G27JW .mbr-text,
.cid-tlW10G27JW .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tlW17qyRWG {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tlW17qyRWG .mbr-fallback-image.disabled {
  display: none;
}
.cid-tlW17qyRWG h1 a {
  width: fit-content;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.cid-tlW17qyRWG h1 a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 22px;
  background: #13e5c0;
  z-index: -1;
}
.cid-tlW17qyRWG h1 a:hover {
  color: inherit !important;
}
.cid-tlW17qyRWG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tlW17qyRWG .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tlW17qyRWG .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tlW17qyRWG .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tlW17qyRWG .mbr-section-title {
  color: #19303d;
  text-align: center;
}
.cid-tlW17qyRWG .mbr-section-subtitle,
.cid-tlW17qyRWG .subtitle-wrap {
  color: #19303d;
}
.cid-tlW17qyRWG .mbr-text,
.cid-tlW17qyRWG .mbr-section-btn {
  color: #19303d;
  text-align: center;
}
.cid-tlVYwNE43i {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tlVYwNE43i .mbr-fallback-image.disabled {
  display: none;
}
.cid-tlVYwNE43i .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tlVYwNE43i .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #13e5c0;
  margin-bottom: 2rem;
}
.cid-tlVYwNE43i .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 5px;
  padding: 1rem 2rem;
  background: #f4fcf9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  border: 2px dashed currentColor;
}
@media (max-width: 767px) {
  .cid-tlVYwNE43i .card-wrapper {
    padding: 1rem;
  }
}
.cid-tlVYwNE43i .card-title,
.cid-tlVYwNE43i .card-wrapper {
  color: #19303d;
}
.cid-tlVYOjlXVH {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tlVYOjlXVH .title__wrap {
  margin-bottom: 30px;
}
.cid-tlVYOjlXVH .title__block {
  margin-bottom: 10px;
}
.cid-tlVYOjlXVH .mbr-section-title {
  margin-bottom: 0;
  color: #132835;
}
.cid-tlVYOjlXVH .mbr-section-subtitle {
  opacity: 0.8;
  margin-bottom: 15px;
  color: #132835;
}
.cid-tlVYOjlXVH .icons {
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
  display: flex;
  background: #13e5c0;
  color: #19303d;
  border-radius: 50%;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.cid-tlVYOjlXVH .image {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  height: 320px;
  margin-bottom: 30px;
}
.cid-tlVYOjlXVH .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px dashed #19303d;
}
.cid-tlVYOjlXVH .text__block {
  position: absolute;
  padding: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: linear-gradient(to top, rgba(23, 22, 26, 0.6), transparent);
}
.cid-tlVYOjlXVH .text__title,
.cid-tlVYOjlXVH .text__descr {
  margin-bottom: 0;
}
.cid-tlVYPsHV3r {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tlVYPsHV3r .mbr-fallback-image.disabled {
  display: none;
}
.cid-tlVYPsHV3r .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tlVYPsHV3r .card-title {
  min-width: 250px;
}
.cid-tlVYPsHV3r .card-text {
  padding-left: 4rem;
}
@media (max-width: 767px) {
  .cid-tlVYPsHV3r .card-text {
    padding-left: 0rem;
  }
}
.cid-tlVYPsHV3r .mbr-iconfont {
  font-size: 1rem;
  color: #19303d;
  border-radius: 50%;
  background: #13e5c0;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.cid-tlVYPsHV3r .card-wrapper {
  display: flex;
  transition: all 0.3s;
  justify-content: space-between;
  align-items: center;
  background: #f4fcf9;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem;
}
@media (max-width: 767px) {
  .cid-tlVYPsHV3r .card-wrapper {
    flex-direction: column;
  }
}
.cid-tlVYPsHV3r .card-wrapper:hover {
  background: #19303d;
  color: white;
}
.cid-tlVYPsHV3r .text-wrap {
  display: flex;
}
@media (max-width: 767px) {
  .cid-tlVYPsHV3r .text-wrap {
    flex-direction: column;
    padding-bottom: 1rem;
  }
}
.cid-tlVYAOi4lu {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #c6ffe0;
}
.cid-tlVYAOi4lu img {
  width: 150px;
  margin: auto;
}
.cid-tlVYAOi4lu .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-tlVYAOi4lu .card {
    max-width: 16.6%;
  }
}
.cid-tlVYAz9sV8 {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}
.cid-tlVYAz9sV8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tlVYAz9sV8 img {
  border-radius: 1rem;
  width: 150px;
}
.cid-tlVYAz9sV8 img {
  filter: brightness(10);
}
.cid-tlVYAz9sV8 .row {
  padding: 0 1rem;
}
.cid-tlVYAz9sV8 a {
  font-weight: 600;
}
.cid-tlVYAz9sV8 .btn {
  transition: all 0.3s;
}
.cid-tlVYAz9sV8 .btn:hover,
.cid-tlVYAz9sV8 .btn:focus {
  background: white !important;
  color: #19303d !important;
  border: 2px dashed #19303d !important;
}
.cid-tlVYAz9sV8 .img-wrap {
  display: inline-block;
}
.cid-tlVYAz9sV8 .card {
  background: #19303d;
  padding: 3rem 1rem;
  border-radius: 1rem;
}
@media (max-width: 767px) {
  .cid-tlVYAz9sV8 .card {
    padding: 2rem 1rem;
  }
}
.cid-tlVYAz9sV8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tlVYAz9sV8 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tlVYAz9sV8 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tlVYAz9sV8 .mbr-section-title {
  color: #ffffff;
}
.cid-tlVYAz9sV8 .mbr-section-subtitle,
.cid-tlVYAz9sV8 .subtitle-wrap {
  color: #19303d;
}
.cid-tlVYAz9sV8 .mbr-text,
.cid-tlVYAz9sV8 .mbr-section-btn {
  color: #ffffff;
}
.cid-tlVYCquxLU {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #19303d;
}
.cid-tlVYCquxLU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tlVYCquxLU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tlVYCquxLU .row {
  background: #132835;
  padding: 3rem;
  margin: 0;
  border-radius: 1rem;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
.cid-tlVYCquxLU li:hover {
  color: #13e5c0;
  transition: all 0.3s;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .cid-tlVYCquxLU .col-lg-3 {
    max-width: 20%;
  }
}
.cid-tlVYCquxLU .mbr-iconfont {
  color: #ffffff;
  opacity: 0.7;
  transition: all 0.3s;
}
.cid-tlVYCquxLU .mbr-iconfont:hover {
  opacity: 1;
}
.cid-tlVYCquxLU .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-tlVYCquxLU .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 1.2rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-tlVYCquxLU .soc-item {
    margin: 0 0.6rem;
  }
}
@media (max-width: 767px) {
  .cid-tlVYCquxLU .row {
    text-align: center;
  }
  .cid-tlVYCquxLU .social-row {
    justify-content: center;
  }
}
.cid-tlVYCquxLU .list {
  list-style: none;
  padding-left: 0;
}
@media (max-width: 991px) {
  .cid-tlVYCquxLU .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tlVYCquxLU .list {
    margin-bottom: 0rem;
  }
}
.cid-tlVYCquxLU .list,
.cid-tlVYCquxLU .mbr-text {
  color: #ffffff;
}
